body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
    text-align: center;
}

h1 {
    color: #333;
    margin: 0;
    padding: 0;
}

p {
    color: #555;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: indigo;
}